@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<main id="bgc">
    <div class="carousel slide mb-5 " id="carouselControls" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-none d-md-block">
                    <img src="~/img/pbanner1.jpg" alt="">
                </div>

                <div class="d-md-none">
                    <img src="~/img/pbanner1-800px.jpg" alt="">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-none d-md-block">
                    <img src="~/img/pbanner1.jpg" alt="">
                </div>

                <div class="d-md-none">
                    <img src="~/img/pbanner1-800px.jpg" alt="">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-none d-md-block">
                    <img src="~/img/pbanner1.jpg" alt="">
                </div>

                <div class="d-md-none">
                    <img src="~/img/pbanner1-800px.jpg" alt="">
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" role="button" href="#carouselControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>

        <a class="carousel-control-next" role="button" href="#carouselControls" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</main>

<div class="container  my-5 text-center">
    <h2 class="my-5">Special offers</h2>
    <div class="row  gy-5 ">
        @{
            foreach (var pizza in Model.SpecialPizzas)
            {
                <div class="modal fade order-choose-modal" tabindex="-1" id="modalTable-@pizza.PizzaId"
                 role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <!-- Modal heading -->
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <!-- Modal body with image -->
                            <div class="modal-body">
                                <div class="modal-figure">
                                    <img src="~/img/pizza-images/@pizza.BackGroundImageLocation" />
                                </div>
                                <div class="modal-ai-content  px-3">
                                    <h3>@pizza.Name</h3>
                                    <article>
                                        <p>@pizza.Ingredients</p>
                                    </article>
                                    <div class="d-flex">
                                        <div class="modal-input d-flex ">
                                            <button class="decrement-btn isInactive" id="decrement-id-@pizza.PizzaId"><strong>-</strong></button>
                                            <label class="input-value" id="button-value-@pizza.PizzaId">1</label>
                                            <button class="increment-btn" id="increment-id-@pizza.PizzaId"><strong>+</strong></button>
                                        </div>
                                        <h4 class="m-3 module-price  px-2">@pizza.Price$</h4>
                                        <button class="mx-2 btn btn-outline-danger pizza-order-btn px-3">Order</button>
                                    </div>
                                    <hr>
                                    <div class="d-flex  align-content-center">
                                        <button class="mx-1 btn btn-outline-danger p-4">Small</button>
                                        <button class="mx-1 btn btn-outline-danger p-4">Medium</button>
                                        <button class="mx-1 btn btn-outline-danger p-4">Big</button>
                                    </div>
                                    <hr>
                                    <div class="d-flex  ">
                                        <button class="mx-1 btn btn-outline-danger p-4">4 Slices</button>
                                        <button class="mx-1 btn btn-outline-danger p-4">8 Slices</button>
                                    </div>
                                    <hr>
                                    <div class="d-flex  ">
                                        <button class="mx-1 btn btn-outline-danger p-4">Triangles</button>
                                        <button class="mx-1 btn btn-outline-danger p-4">Cubes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 text-center " style="display:flex; justify-content: center;">
                    <a asp-page="/ViewPizza" asp-route-id="@pizza.PizzaId" data-bs-toggle="modal" data-bs-target="#modalTable-@pizza.PizzaId">
                    <div class="card scale shadow-sm " style="width: 18rem;">
                        <img src="~/img/pizza-images/@pizza.ImageLocation" class="card-img-top" alt="...">
                        <div class="card-body offer-card-body">
                            <h5 class="card-title">@pizza.Name</h5>
                            <p class="card-text">@pizza.Ingredients</p>
                            <div class="price my-4"><h6>@pizza.Price$</h6></div>
                        </div>
                    </div>
                    </a>
                </div>
            }
        }
    <div class="my-5">
        <p p-0>See more in <a asp-page="/Offers">Offers</a></p>
    </div>
</div>
</div>

<!--

<div class="slider-wrap">
    <div class="slider">
        <img src="~/img/pbanner1.jpg" alt="" />
        <img src="~/img/pbanner1.jpg" alt="" />
        <img src="~/img/pbanner1.jpg" alt="" />
        <img src="~/img/pbanner1.jpg" alt="" />
    </div>
</div>

<button class="button slide-prev"><</button>
<button class="button slide-next">></button>



<div class="container">
    <div class="carouselContainer">
        <div class="carouselSlides">
            <img id="lastClone" src="~/img/pbanner1.jpg" class="slide" alt="">
            <picture class="slide">
                <source media="(max-width: 799px)" srcset="~/img/pbanner1-800px.jpg">
                <source media="(min-width: 800px)" srcset="~/img/pbanner1.jpg">
                <img src="~/img/pbanner1.jpg" alt="">
            </picture>
            <img src="~/img/pbanner1.jpg" class="slide" alt="">
            <img src="~/img/pbanner1.jpg" class="slide" alt="">
            <img src="~/img/pbanner1.jpg" class="slide" alt="">
            <img id="firstClone" src="~/img/pbanner1.jpg" class="slide" alt="">
        </div>
        <div class="butnContainer">
            <div class="butn" id="prev"></div>
            <div class="butn" id="next"></div>
        </div>
     </div>

     <div class="container">
        <div class="row">
            <div class="col">
                <img class="" src="~/img/Pizza.png" />
                <button class="buttons w-25 mb-2 btn btn-lg btn-outline-danger">Order</button>
            </div>

        </div>
     </div>

</div>
-->
<div class ="container facts">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <h2>Pizza delivery</h2>
            <article>
                <p>
                    Round-the-clock ordering and delivery of pizza to your home in the city - pizzaonline.uz. Ordering a delicious Italian dish - pizza with delivery is easy. The list of pizzerias involved in its preparation is presented on the pages of our website pizzaonline.uz. We have collected complete information about establishments for easy search and ordering food to your home, office or any other place. Information about the cost of delivery, time, etc. helps you quickly choose a cafe or restaurant. You can place an order and free delivery of pizza in Baku online by calling or through our application.
            </article>
        </div>
        <div class="col-md-8 col-sm-12">
            <h2>Where do we get the ingredients?</h2>
            <article>
                <p>
                    Biotechnological ingredients are "grown" either using microorganisms, or - special biotechnological processes: for example, shikonin is obtained from the calus culture of red-root sparrow cells, an extract of ginseng biomass. With the direct use of microorganisms, our vitamins are produced: β-carotene and vitamin C. Such components, of course, are absolutely free from agricultural pollutants. In general, finding areas that are not contaminated with pesticides on the map is not such an easy task. Although we track the production chains of our ingredients. Natural raw materials are mainly grown (much less often - wild plants are collected) in environmentally friendly areas. Here are some examples: blueberry - Karelian, mummy - Altai, thistle - also native, Volga, but aloe - from Georgia. Some ingredients come to us from European countries.
                </p>
            </article>
        </div>
    </div>
</div >
